.footer{
    display: flex;
    align-items: center;
    margin: -0.5rem -3.5rem;
    position: relative;
    margin-top: -7rem;
}
.f-content{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 4rem;
    gap: 4rem;
    color: white;
}
.f-icons{
    display: flex;
    gap: 2rem;
}
@media screen and (max-width: 480px) {
    .footer{
        display: flex;
        align-items: center;
        position: relative;
        margin-top: -3rem;
    }
    .f-content{
        position: flex;
        flex-direction: column;
    }
    .f-icons{
        margin-top: -3rem;
        transform: scale(0.8);
    }
}